USE [master]
GO
/****** Object:  Database [QuanLyPhongMach]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE DATABASE [QuanLyPhongMach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPhongMach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyPhongMach.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyPhongMach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyPhongMach_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongMach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongMach]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BenhNhans]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhans](
	[MaBN] [nvarchar](4) NOT NULL,
	[HoTenBN] [nvarchar](30) NULL,
	[GioiTinhBN] [bit] NOT NULL,
	[NamSinhBN] [datetime] NOT NULL,
	[DiaChiBenhNhan] [nvarchar](50) NULL,
	[QueQuanBenhNhan] [nvarchar](30) NULL,
	[SDTBN] [nvarchar](20) NULL,
	[CMNDBN] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.BenhNhans] PRIMARY KEY CLUSTERED 
(
	[MaBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Benhs]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benhs](
	[MaBenh] [int] IDENTITY(1,1) NOT NULL,
	[TenBenh] [nvarchar](30) NULL,
	[TrieuChung] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.Benhs] PRIMARY KEY CLUSTERED 
(
	[MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChucVus]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVus](
	[MaChucVu] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.ChucVus] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocVis]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVis](
	[MaHocVi] [nvarchar](4) NOT NULL,
	[TenHocVi] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.HocVis] PRIMARY KEY CLUSTERED 
(
	[MaHocVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khoas]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoas](
	[MaKhoa] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.Khoas] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[MaNV] [nvarchar](4) NOT NULL,
	[MaHocViNV] [nvarchar](max) NULL,
	[HoTenNV] [nvarchar](30) NULL,
	[GioiTinhNV] [bit] NOT NULL,
	[NamSinhNV] [datetime] NOT NULL,
	[DiaChiNV] [nvarchar](50) NULL,
	[QueQuanNV] [nvarchar](30) NULL,
	[SDTNV] [nvarchar](20) NULL,
	[CMNDNV] [nvarchar](20) NULL,
	[MaHocVi_MaHocVi] [nvarchar](4) NULL,
 CONSTRAINT [PK_dbo.NhanViens] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanCongs]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongs](
	[MaPC] [nvarchar](4) NOT NULL,
	[MaBacSi] [nvarchar](max) NULL,
	[MaPhong] [nvarchar](4) NULL,
	[MaKhoa] [nvarchar](max) NULL,
	[MaYTa] [nvarchar](max) NULL,
	[NgayTruc] [datetime] NOT NULL,
	[BacSi_MaNV] [nvarchar](4) NULL,
	[Khoa_MaKhoa] [int] NULL,
	[YTa_MaNV] [nvarchar](4) NULL,
 CONSTRAINT [PK_dbo.PhanCongs] PRIMARY KEY CLUSTERED 
(
	[MaPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuKhamBenhs]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKhamBenhs](
	[MaPK] [nvarchar](4) NOT NULL,
	[MaBenh] [nvarchar](128) NOT NULL,
	[Benh_MaBenh] [int] NULL,
 CONSTRAINT [PK_dbo.PhieuKhamBenhs] PRIMARY KEY CLUSTERED 
(
	[MaPK] ASC,
	[MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuKhams]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKhams](
	[MaPK] [nvarchar](4) NOT NULL,
	[MaBenhNhan] [nvarchar](max) NULL,
	[MaPhanCong] [nvarchar](max) NULL,
	[NgayKham] [datetime] NOT NULL,
	[TienKham] [int] NOT NULL,
	[TienThuoc] [int] NOT NULL,
	[BenhNhan_MaBN] [nvarchar](4) NULL,
	[PhanCong_MaPC] [nvarchar](4) NULL,
 CONSTRAINT [PK_dbo.PhieuKhams] PRIMARY KEY CLUSTERED 
(
	[MaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuKhamThuocs]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKhamThuocs](
	[MaPK] [nvarchar](4) NOT NULL,
	[MaThuoc] [nvarchar](128) NOT NULL,
	[Thuoc_MaThuoc] [int] NULL,
 CONSTRAINT [PK_dbo.PhieuKhamThuocs] PRIMARY KEY CLUSTERED 
(
	[MaPK] ASC,
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phongs]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phongs](
	[MaPhong] [nvarchar](4) NOT NULL,
	[MaKhoa] [nvarchar](max) NULL,
	[Khoa_MaKhoa] [int] NULL,
 CONSTRAINT [PK_dbo.Phongs] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThamSoes]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThamSoes](
	[MaTS] [nvarchar](4) NOT NULL,
	[GiaTri] [int] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.ThamSoes] PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thuocs]    Script Date: 12/15/2018 4:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuocs](
	[MaThuoc] [int] IDENTITY(1,1) NOT NULL,
	[TenThuoc] [nvarchar](30) NULL,
	[SoLuongTon] [int] NOT NULL,
	[CachDung] [nvarchar](30) NULL,
	[DonVi] [nvarchar](30) NULL,
	[Gia] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Thuocs] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BenhNhans] ([MaBN], [HoTenBN], [GioiTinhBN], [NamSinhBN], [DiaChiBenhNhan], [QueQuanBenhNhan], [SDTBN], [CMNDBN]) VALUES (N'BN0', N'Phan Minh Trường', 1, CAST(N'2018-12-11 00:00:00.000' AS DateTime), N'Hồ Tùng Mậu', N'HCM', N'0123456789', N'1234567489')
INSERT [dbo].[BenhNhans] ([MaBN], [HoTenBN], [GioiTinhBN], [NamSinhBN], [DiaChiBenhNhan], [QueQuanBenhNhan], [SDTBN], [CMNDBN]) VALUES (N'BN1', N'Đỗ Thành Công', 1, CAST(N'2018-12-05 00:00:00.000' AS DateTime), N'hcm', N'hcm', N'123456789', N'123456789')
INSERT [dbo].[BenhNhans] ([MaBN], [HoTenBN], [GioiTinhBN], [NamSinhBN], [DiaChiBenhNhan], [QueQuanBenhNhan], [SDTBN], [CMNDBN]) VALUES (N'BN2', N'123', 1, CAST(N'2018-12-04 00:00:00.000' AS DateTime), N'123', N'123', N'123', N'123')
SET IDENTITY_INSERT [dbo].[Benhs] ON 

INSERT [dbo].[Benhs] ([MaBenh], [TenBenh], [TrieuChung]) VALUES (1, N'Tiêu chảy', N'Đau bụng')
INSERT [dbo].[Benhs] ([MaBenh], [TenBenh], [TrieuChung]) VALUES (2, N'Táo bón', N'Chướng bụng')
INSERT [dbo].[Benhs] ([MaBenh], [TenBenh], [TrieuChung]) VALUES (3, N'Sổ mũi', N'Hắt xì , chảy nước mũi')
SET IDENTITY_INSERT [dbo].[Benhs] OFF
INSERT [dbo].[HocVis] ([MaHocVi], [TenHocVi]) VALUES (N'CN', N'Cử nhân')
INSERT [dbo].[HocVis] ([MaHocVi], [TenHocVi]) VALUES (N'GS', N'Giáo sư')
INSERT [dbo].[HocVis] ([MaHocVi], [TenHocVi]) VALUES (N'PGS', N'Phó giáo sư')
SET IDENTITY_INSERT [dbo].[Khoas] ON 

INSERT [dbo].[Khoas] ([MaKhoa], [TenKhoa]) VALUES (1, N'Tai')
INSERT [dbo].[Khoas] ([MaKhoa], [TenKhoa]) VALUES (2, N'Mũi')
INSERT [dbo].[Khoas] ([MaKhoa], [TenKhoa]) VALUES (3, N'Họng')
SET IDENTITY_INSERT [dbo].[Khoas] OFF
INSERT [dbo].[NhanViens] ([MaNV], [MaHocViNV], [HoTenNV], [GioiTinhNV], [NamSinhNV], [DiaChiNV], [QueQuanNV], [SDTNV], [CMNDNV], [MaHocVi_MaHocVi]) VALUES (N'BS0', N'CN', N'Đỗ Tấn Lộc', 1, CAST(N'1998-05-10 00:00:00.000' AS DateTime), N'103/14 Trần Văn Đang P9 Q3', N'HCM', N'0857763503', N'025676938', NULL)
INSERT [dbo].[NhanViens] ([MaNV], [MaHocViNV], [HoTenNV], [GioiTinhNV], [NamSinhNV], [DiaChiNV], [QueQuanNV], [SDTNV], [CMNDNV], [MaHocVi_MaHocVi]) VALUES (N'BS2', N'ThS', N'Onizuka', 1, CAST(N'2018-12-03 00:00:00.000' AS DateTime), N'Tokyo', N'Japan', N'0123456777', N'123456987', NULL)
INSERT [dbo].[NhanViens] ([MaNV], [MaHocViNV], [HoTenNV], [GioiTinhNV], [NamSinhNV], [DiaChiNV], [QueQuanNV], [SDTNV], [CMNDNV], [MaHocVi_MaHocVi]) VALUES (N'YT1', N'CN', N'Lung Thị Linh', 0, CAST(N'1998-04-07 00:00:00.000' AS DateTime), N'HCM', N'HCM', N'0123456789', N'123456789', NULL)
INSERT [dbo].[Phongs] ([MaPhong], [MaKhoa], [Khoa_MaKhoa]) VALUES (N'H1', N'3', NULL)
INSERT [dbo].[Phongs] ([MaPhong], [MaKhoa], [Khoa_MaKhoa]) VALUES (N'H2', N'3', NULL)
INSERT [dbo].[Phongs] ([MaPhong], [MaKhoa], [Khoa_MaKhoa]) VALUES (N'H3', N'3', NULL)
INSERT [dbo].[ThamSoes] ([MaTS], [GiaTri], [GhiChu]) VALUES (N'SK', 3, N'Số khoa')
INSERT [dbo].[ThamSoes] ([MaTS], [GiaTri], [GhiChu]) VALUES (N'SLB', 5, N'Số lượng bệnh')
INSERT [dbo].[ThamSoes] ([MaTS], [GiaTri], [GhiChu]) VALUES (N'SLBN', 40, N'Số bệnh nhân trong ngày')
SET IDENTITY_INSERT [dbo].[Thuocs] ON 

INSERT [dbo].[Thuocs] ([MaThuoc], [TenThuoc], [SoLuongTon], [CachDung], [DonVi], [Gia]) VALUES (2, N'Paracetamol', 100, N'Sáng', N'Viên', 6000)
SET IDENTITY_INSERT [dbo].[Thuocs] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MaHocVi_MaHocVi]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaHocVi_MaHocVi] ON [dbo].[NhanViens]
(
	[MaHocVi_MaHocVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_BacSi_MaNV]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_BacSi_MaNV] ON [dbo].[PhanCongs]
(
	[BacSi_MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Khoa_MaKhoa]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Khoa_MaKhoa] ON [dbo].[PhanCongs]
(
	[Khoa_MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MaPhong]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaPhong] ON [dbo].[PhanCongs]
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_YTa_MaNV]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_YTa_MaNV] ON [dbo].[PhanCongs]
(
	[YTa_MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Benh_MaBenh]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Benh_MaBenh] ON [dbo].[PhieuKhamBenhs]
(
	[Benh_MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MaPK]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaPK] ON [dbo].[PhieuKhamBenhs]
(
	[MaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_BenhNhan_MaBN]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_BenhNhan_MaBN] ON [dbo].[PhieuKhams]
(
	[BenhNhan_MaBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_PhanCong_MaPC]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhanCong_MaPC] ON [dbo].[PhieuKhams]
(
	[PhanCong_MaPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MaPK]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaPK] ON [dbo].[PhieuKhamThuocs]
(
	[MaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Thuoc_MaThuoc]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Thuoc_MaThuoc] ON [dbo].[PhieuKhamThuocs]
(
	[Thuoc_MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Khoa_MaKhoa]    Script Date: 12/15/2018 4:00:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Khoa_MaKhoa] ON [dbo].[Phongs]
(
	[Khoa_MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NhanViens_dbo.HocVis_MaHocVi_MaHocVi] FOREIGN KEY([MaHocVi_MaHocVi])
REFERENCES [dbo].[HocVis] ([MaHocVi])
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK_dbo.NhanViens_dbo.HocVis_MaHocVi_MaHocVi]
GO
ALTER TABLE [dbo].[PhanCongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhanCongs_dbo.Khoas_Khoa_MaKhoa] FOREIGN KEY([Khoa_MaKhoa])
REFERENCES [dbo].[Khoas] ([MaKhoa])
GO
ALTER TABLE [dbo].[PhanCongs] CHECK CONSTRAINT [FK_dbo.PhanCongs_dbo.Khoas_Khoa_MaKhoa]
GO
ALTER TABLE [dbo].[PhanCongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhanCongs_dbo.NhanViens_BacSi_MaNV] FOREIGN KEY([BacSi_MaNV])
REFERENCES [dbo].[NhanViens] ([MaNV])
GO
ALTER TABLE [dbo].[PhanCongs] CHECK CONSTRAINT [FK_dbo.PhanCongs_dbo.NhanViens_BacSi_MaNV]
GO
ALTER TABLE [dbo].[PhanCongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhanCongs_dbo.NhanViens_YTa_MaNV] FOREIGN KEY([YTa_MaNV])
REFERENCES [dbo].[NhanViens] ([MaNV])
GO
ALTER TABLE [dbo].[PhanCongs] CHECK CONSTRAINT [FK_dbo.PhanCongs_dbo.NhanViens_YTa_MaNV]
GO
ALTER TABLE [dbo].[PhanCongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhanCongs_dbo.Phongs_MaPhong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phongs] ([MaPhong])
GO
ALTER TABLE [dbo].[PhanCongs] CHECK CONSTRAINT [FK_dbo.PhanCongs_dbo.Phongs_MaPhong]
GO
ALTER TABLE [dbo].[PhieuKhamBenhs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuKhamBenhs_dbo.Benhs_Benh_MaBenh] FOREIGN KEY([Benh_MaBenh])
REFERENCES [dbo].[Benhs] ([MaBenh])
GO
ALTER TABLE [dbo].[PhieuKhamBenhs] CHECK CONSTRAINT [FK_dbo.PhieuKhamBenhs_dbo.Benhs_Benh_MaBenh]
GO
ALTER TABLE [dbo].[PhieuKhamBenhs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuKhamBenhs_dbo.PhieuKhams_MaPK] FOREIGN KEY([MaPK])
REFERENCES [dbo].[PhieuKhams] ([MaPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuKhamBenhs] CHECK CONSTRAINT [FK_dbo.PhieuKhamBenhs_dbo.PhieuKhams_MaPK]
GO
ALTER TABLE [dbo].[PhieuKhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuKhams_dbo.BenhNhans_BenhNhan_MaBN] FOREIGN KEY([BenhNhan_MaBN])
REFERENCES [dbo].[BenhNhans] ([MaBN])
GO
ALTER TABLE [dbo].[PhieuKhams] CHECK CONSTRAINT [FK_dbo.PhieuKhams_dbo.BenhNhans_BenhNhan_MaBN]
GO
ALTER TABLE [dbo].[PhieuKhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuKhams_dbo.PhanCongs_PhanCong_MaPC] FOREIGN KEY([PhanCong_MaPC])
REFERENCES [dbo].[PhanCongs] ([MaPC])
GO
ALTER TABLE [dbo].[PhieuKhams] CHECK CONSTRAINT [FK_dbo.PhieuKhams_dbo.PhanCongs_PhanCong_MaPC]
GO
ALTER TABLE [dbo].[PhieuKhamThuocs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuKhamThuocs_dbo.PhieuKhams_MaPK] FOREIGN KEY([MaPK])
REFERENCES [dbo].[PhieuKhams] ([MaPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuKhamThuocs] CHECK CONSTRAINT [FK_dbo.PhieuKhamThuocs_dbo.PhieuKhams_MaPK]
GO
ALTER TABLE [dbo].[PhieuKhamThuocs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuKhamThuocs_dbo.Thuocs_Thuoc_MaThuoc] FOREIGN KEY([Thuoc_MaThuoc])
REFERENCES [dbo].[Thuocs] ([MaThuoc])
GO
ALTER TABLE [dbo].[PhieuKhamThuocs] CHECK CONSTRAINT [FK_dbo.PhieuKhamThuocs_dbo.Thuocs_Thuoc_MaThuoc]
GO
ALTER TABLE [dbo].[Phongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Phongs_dbo.Khoas_Khoa_MaKhoa] FOREIGN KEY([Khoa_MaKhoa])
REFERENCES [dbo].[Khoas] ([MaKhoa])
GO
ALTER TABLE [dbo].[Phongs] CHECK CONSTRAINT [FK_dbo.Phongs_dbo.Khoas_Khoa_MaKhoa]
GO
USE [master]
GO
